title,
.title 
{
  text-align: center;
  margin-bottom: 0.2em;
}

.contact 
{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

body 
{
	line-height: 1.6;
	font-size: 18px;
	padding: 0 10px;
	margin: 60px auto;
	max-width: 700px;
}

p 
{
	text-align: center;
	font-size: 20px;
}

h1
{
	font-style: italic;
	font-size: 26px;
	line-height: 1.5;
h2 
{
	font-style: italic;
	font-size: 18px;
	line-height: 1.5;
}

h3 
{
	text-align: center;
	line-height: 1.5;
}

a:link,
a:visited 
{
  color: blue;
}